   .navBarTopLi {
    display: inline-block;
    vertical-align: top;
    padding: 2%;
    text-align: center;
    font-size: 20px;
  }
  .header {
    background-color: maroon;
    color: white;
    border: 2px solid black;
        }
   
  .heroImg {
    height: auto;
    width: 100%;
    }

.logoImg{
  width: 20%;
  height: auto;
  margin: 0 5%;
}
.headerText{
  background-color: maroon;
  height: 50px;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0 0 0;
  }
.GiftCard {
  display: inline-block;
  vertical-align: top;
  padding: 2%;
}
  
  *,
  *::before,
  *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ftBarleftLi {
  background-color: maroon;
width: auto;
}
.ftBarcenterLi{
background-color: maroon;
width: auto;
text-decoration: none;
}
.ftBarrightLi{
  background-color: maroon;
   width: auto;
  }
  .footer{
    background-color: maroon;
    color: white;
    padding: 10px 0 0 2%;

  }
  .bottomNav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-decoration: none;
  }
  
  hr{
    width: 30%;
    margin: 2% 0;

  }
  
  .cdLayout{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2%;
    margin: 2% 0;
    padding: 1 2%;
    background-color: white;
  }
  
  .imgSize {
    width: 100%;
    height: auto;
  }
  
  .background {
    background-color: rgb(48,3,3);
    padding: 2%;
  }
.grayFont {
  color: gray;
  font-size: 20px;

}

.bigFont {
  font-size: 30px;
}
.button {
  border: 3px solid black;
  background-color: white;
  padding: 15px 25px;
}
.button:hover {
  background-color: black;
  color: white;
}
.button:focus{
  outline: dotted 3px rgb(26,53,206);
}